
{% load  static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{{ blog.title }}</title>
        <meta name="author" content="name" />
        <meta name="description" content="description here" />
        <meta name="keywords" content="keywords,here" />
        <link rel="stylesheet" href="{% static 'build.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    </head>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
        }

    </style>


    <body class="bg-gray-100 font-sans leading-normal tracking-normal">

        {% include "nav.html" %}

        <!--Container-->
        <div class="container w-full md:max-w-6xl mx-auto pt-20">

            <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">

                <!--Title-->
                <div class="font-sans">
                    <p class="text-base md:text-sm text-slate-500 font-bold">&lt; <a href="{% url 'home' %}"
                            class="text-base md:text-sm text-slate-500 font-bold no-underline hover:underline">BACK TO
                            BLOG</a></p>
                    <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                        {{ blog.title }}</h1>
                    <p class="text-sm md:text-base font-normal text-gray-600">Published {{ blog.created_at }}</p>
                </div>
                {{ blog.blog_content | safe }}

            </div>

            <!--Author-->
            <div class="flex w-full items-center font-sans px-4 py-12">
                <div class="flex-1 px-2">
                    <p class="text-base font-bold md:text-xl leading-none mb-2"> Author: {{blog.author}}</p>

                </div>

            </div>
            <!--/Author-->

            <!--Divider-->
            <hr class="border-b-2 border-gray-400 mb-8 mx-4">


            <!--/Next & Prev Links-->

        </div>

        <script>
            var h = document.documentElement,
                b = document.body,
                st = 'scrollTop',
                sh = 'scrollHeight',
                progress = document.querySelector('#progress'),
                scroll;
            var scrollpos = window.scrollY;
            var header = document.getElementById("header");
            var navcontent = document.getElementById("nav-content");

            document.addEventListener('scroll', function () {

                /*Refresh scroll % width*/
                scroll = (h[st] || b[st]) / ((h[sh] || b[sh]) - h.clientHeight) * 100;
                progress.style.setProperty('--scroll', scroll + '%');

                /*Apply classes for slide in bar*/
                scrollpos = window.scrollY;

                if (scrollpos > 10) {
                    header.classList.add("bg-white");
                    header.classList.add("shadow");
                    navcontent.classList.remove("bg-gray-100");
                    navcontent.classList.add("bg-white");
                } else {
                    header.classList.remove("bg-white");
                    header.classList.remove("shadow");
                    navcontent.classList.remove("bg-white");
                    navcontent.classList.add("bg-gray-100");

                }

            });


            //Javascript to toggle the menu
            document.getElementById('nav-toggle').onclick = function () {
                document.getElementById("nav-content").classList.toggle("hidden");
            }

        </script>

    </body>

</html>
